<div class="testBorder">
<input [(ngModel)]="keyWord">
<button (click)="searchRecipes(keyWord)">Search</button>
<br>
<br>
<button (click)="searchRecipes('chicken')">Chicken</button>
<button (click)="searchRecipes('seafood')">Seafood</button>
<button (click)="searchRecipes('pasta')">Pasta</button>
<button (click)="searchRecipes('vegan')">Vegan</button>
<button (click)="searchRecipes('pork')">Pork</button>
</div>

<div *ngFor="let recipe of recipes" class="testBorder">
	<p>{{ recipe.idMeal }}</p>
	<p>{{ recipe.strMeal }}</p>
	<img src="http://{{ recipe.strMealThumb }}">
</div>

